nav {
   padding: 14px 20px !important;
   border-radius: 20px;
   border: 2px solid #28a745;
   box-shadow: 5px 5px 5px #28a745;
}

.container {
   min-height: 100vh;
   background: #063852;
   /* background: #2d4262; */
}

.footer a:link { text-decoration: none; }

.footer p {
   font-weight: 200;
   text-align: center; 
   text-transform: uppercase;
   color: #eee;
}


@media (min-width: 767.98px) { 
   
   /* Solution to the navbar flash problem */  
   .navbar-not-flash {
      min-height: 60px; 
      margin: auto;
   }
}

@media (max-width: 575.98px) { 

   .button-center { margin: 5px auto; }
}
